force-app/main/default/flows/CalculateNetRevenue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Net_Revenue_Is_Blank</name>
        <label>Net Revenue Is Blank</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CAMPX__NetRevenue__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateNetRevenue</name>
        <label>UpdateNetRevenue</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CAMPX__NetRevenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateNetRevenue</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Are_Revenue_Fields_Populated</name>
        <label>Are Revenue Fields Populated?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>UpdateNetRevenue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Revenue fields are populated</defaultConnectorLabel>
        <rules>
            <name>Revenue_fields_are_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAMPX__GrossRevenue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__TotalExpenses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Net_Revenue_Is_Blank</targetReference>
            </connector>
            <label>Revenue fields are empty</label>
        </rules>
    </decisions>
    <description>Calculate Net Revenue when Gross Revenue or Total Expense is changed.</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateNetRevenue</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CAMPX__GrossRevenue__c}-{!$Record.CAMPX__TotalExpenses__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CalculateNetRevenue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CalculateNetRevenue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Revenue_Fields_Populated</targetReference>
        </connector>
        <object>CAMPX__Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
