force-app/main/default/flows/Update_Event_Gross_Revenue_upon_Sponsor_Acceptance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>CheckContributedAmount</name>
        <label>CheckContributedAmount</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_is_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAMPX__ContributionAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__ContributionAmount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Amount is Empty</label>
        </rules>
        <rules>
            <name>Amount_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAMPX__ContributionAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__Event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAMPX__ContributionAmount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Event_Gross_Revenue</targetReference>
            </connector>
            <label>Amount is not Empty</label>
        </rules>
    </decisions>
    <description>Updating Event Gross Revenue upon Sponsor Acceptance</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateGrossRevenue</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Related_Event_Gross_Revenue.CAMPX__GrossRevenue__c}+{!$Record.CAMPX__ContributionAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Event Gross Revenue upon Sponsor Acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Event Gross Revenue upon Sponsor Acceptance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Event_Gross_Revenue</name>
        <label>Get Related Event Gross Revenue</label>
        <locationX>132</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CAMPX__Event__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CAMPX__Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CAMPX__GrossRevenue__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Event</name>
        <label>Update Related Event</label>
        <locationX>132</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CAMPX__Event__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CAMPX__GrossRevenue__c</field>
            <value>
                <elementReference>CalculateGrossRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CAMPX__Event__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckContributedAmount</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAMPX__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>CAMPX__Sponsor__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>SponsorContribution</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
